<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Strona główna", root_path %></li>
                <li><%= link_to "Atrakcje", atrakcje_path %></li>
                <li><%= link_to "Cennik", cennik_path %></li>
                <li><%= link_to "Kontakt", kontakt_path %></li>
                <li><%= link_to "Galeria", galeria_path %></li>
            </ul>
        </nav>
    </div>
</header>
